{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <table align="center" style="width=100%; background-color:#b1cbbb;">
            <tr>
                <td colspan="2">
                    <h1>Add Single Entry:</h1>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.question.label }}<br>{{ form.question(rows='10', cols='50') }}
                </td>
                <td>{{ form.answer.label }}<br>{{ form.answer(rows='10', cols='50') }}</td>
            </tr>
            <tr>
                <td>{{ form.name.label }} {{ form.name(size=24) }}</td>
                <td>{{ form.submit() }}</td>
            </tr>
        </table>
    </form>
{% endblock %}